:root {
    --main-green: #00FF99;
    --bg-dgrey: #272D2D;
    --shadow: #0c0e0e;
    --abort-red: #E3170A;
    --abort-red-alpha: #E3170A80;
    --alert-yellow: #F7B32B;
    --alert-yellow-alpha: #F7B32B80;
    --green-sync: #78BC61;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
    text-shadow: 0px 0px 3px var(--main-green);
    font-family: 'Inconsolata', regular;
    background-color: var(--shadow);
    color: var(--main-green);
}

#selectEvents {
    grid-row: 1 / span 2;
    grid-column: 1 / 1;
}

/* Grid Layout */
#countdown-timer {
    grid-column: 2 / 2; 
    grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    text-shadow: 0px 0px 3px white;
}

#eventNameDiv {
    grid-row: 1 / 1;
    grid-column: 3 / 3;
}

#eventDetails {
    grid-row: 2 / 2;
    grid-column: 3 / 3;
}

#sync {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#description {
    grid-row: 3 / 3;
    grid-column: 2 / 2;
}

#abort {
    grid-row: 3 / 3;
    grid-column: 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    padding: 7px;
    display: grid;
    grid-template-columns: 20% 57% 20%; 
    grid-gap: 10px;
    overflow: hidden;
    height: 100vh;
}

#grid-container > div:not(#countdown-timer):not(#description) {
    padding: 10px;
    font-size: 10px;
    border-style: solid;
    border-width: 1px; 
    box-shadow: inset 0px 0px 2px var(--main-green),  0px 0px 2px var(--main-green);
}

#timer {
    font-size: 50px;
    color: white;
    text-align: center;
}

#dateSection {
    height: 50%;
}

#timeSection {
    height: 50%;
}
.heading {
    font-size: 15px;
}

.innerhtml {
    font-size: 12px;
}

.btns {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    background: transparent;
    text-align: center;
    transition: all ease 0.5s;
}

.btns:focus {
    outline: none;
}

#abortBtn:hover {
    border-color: var(--abort-red);
}

#syncBtn:hover {
    border-color: var(--alert-yellow);
}

#abortBtn {
    box-shadow: 0px 0px 3px var(--abort-red);
    border-color: var(--abort-red-alpha);
    color: var(--abort-red);
    text-shadow: 0px 0px 4px var(--abort-red);
}

#syncBtn {
    box-shadow: 0px 0px 3px var(--alert-yellow);
    border-color: var(--alert-yellow-alpha);
    color: var(--alert-yellow);
    text-shadow: 0px 0px 4px var(--alert-yellow);
}

#dateOpt {
    background-color: var(--shadow);
    color: var(--main-green);
    max-width: 100px;
}