:root {
    --main-green: #00FF99;
    --main-green-alpha: #00FF9980;
    --bg-dgrey: #272D2D;
    --shadow: #0c0e0e;
    --abort-red: #E3170A;
    --abort-red-alpha: #E3170A80;
    --alert-yellow: #F7B32B;
    --alert-yellow-alpha: #F7B32B80;
    --green-sync: #78BC61;
}

.body, html {
    text-shadow: 0px 0px 3px var(--main-green);
    font-family: 'Inconsolata', regular;
    background-color: var(--shadow);
    color: var(--main-green);
}

.settings {
  border: 1px solid var(--main-green);
  box-shadow: 0px 0px 3px var(--main-green);
  padding: 7px;
  display: block;
}

.row {
  margin: 10px;
  display:flex;
  align-items:center;
}

/* Buttons */

#btns {
    display: inline-block;
    padding-bottom: 20px;
    margin: 0px 0px 0px 40px; 
}

.settingBtns {
    background: transparent;
    box-shadow: 0px 0px 3px var(--main-green-alpha);
    border-color: var(--main-green-alpha);
    color: var(--main-green);
    text-shadow: 0px 0px 4px var(--main-green-alpha);
    padding: 8px;
    transition: all ease 0.5s;
}

.settingBtns:hover {
  border-color: var(--main-green); 
  box-shadow: 0px 0px 3px var(--main-green);
  text-shadow: var(--main-green);
}

.radioSection {
  padding: 10px;
}

/* Slider */

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 20px;
  background-color: transparent;
  background: var(--shadow);
  border: 1px solid var(--main-green);
  box-shadow: 0px 0px 3px var(--main-green);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: 0px 0px 3px var(--main-green);
  height: 25px;
  width: 2px;
  background: var(--main-green);
  margin-top: -3px;
  cursor: pointer;
}

.slider_container .slider {
  position: relative;
  outline: none;
  padding: 10px;
  background-color: transparent;
}